.template--posts--container {
    width: 100%;
    padding: 0 20px;
    md-nav-bar {
        .md-nav-item {
            span {
                text-transform: capitalize;
            }
        }
    }
    .post--list--content {
        padding-top: 20px;
        md-list-item {
            &.custom--made {
                padding: 15px;
                border-bottom: 1px solid #ededed;
                .post--image {
                    img {
                        width: 260px;
                        height: 85px;
                        border-radius: 5px;
                    }
                }
                .post--name {
                    margin-left: 5px;
                    h4 {
                        margin-top: 0;
                    }
                    .extra--post--attr {
                        position: absolute;
                        bottom: 10px;
                        strong {
                            font-size: 1.3em;
                        }
                    }
                }
                .post--edit--icon,
                .post--delete--icon {
                    font-size: 1.2em;
                    text-align: center;
                }
                .post--delete--icon {
                    color: #f81f1f;
                }
                transition: all 0.3s ease-in-out;
                &:hover {
                    cursor: pointer;
                    border-radius: 5px;
                    background: whitesmoke;
                }
            }
        }
        .loading--tab {
            display: flex;
            padding: 20%;
            align-items: center;
            justify-content: center;
        }
    }
}