<md-content class="chips--footer--content md-whiteframe-2dp">
    <div class="white--circle left--circle">
        <svg height="100" width="100">
                    <circle cx="50" cy="50" r="40" stroke="white" stroke-width="3" fill="white" />
        </svg>
    </div>
    <div class="white--circle right--circle">
        <svg height="100" width="100">
                    <circle cx="50" cy="50" r="40" stroke="white" stroke-width="3" fill="white" />             
        </svg>
    </div>
    <div class="container">
        <div layout="row" layout-xs="column" class="tips--container">
            <div flex="50" flex-xs="100" class="tips--content">
                <div class="tips--chips">
                    <div class="tips--circular">
                        <i class="fa fa-book" aria-hidden="true"></i>
                    </div>
                    <h5>Hustle Free Joining</h5>
                    <p>
                        The best tutorials and content that you'll find for web development. Guides, courses, tutorials, and more great content to learn with.
                    </p>
                </div>
            </div>
            <div flex="50" flex-xs="100"  class="tips--content">
                <div class="tips--chips">
                    <div class="tips--circular">
                        <img src="img/small-brain.png" alt="">
                    </div>
                    <h5>Know Why & How </h5>
                    <p>
                        There are many different ways to code the same project. We'll show best practices and why certain choices are better than others.
                    </p>
                </div>
            </div>
        </div>

    </div>
</md-content>
<md-content class="chips--footer--content" style="padding-top:0">
    <div class="container">
        <div layout="row" layout-xs="column" class="joinus--footer--container">
            <div flex="50" flex-xs="100" class="joinus--footer--content">
                <div class="joinus--footer--chips">
                    <div class="joinus--footer--header">
                        <h2>Join ReadNinja</h2>
                    </div>
                    <div class="joinus--footer--body">
                        <ul>
                            <li class="list-points">point 1</li>
                            <li class="list-points">point 2</li>
                            <li class="list-points">point 3</li>
                            <li class="list-points">point 4</li>
                            <li class="list-points">point 5</li>
                        </ul>
                    </div>
                    <div class="joinus--footer--footer">
                        <div class="footer--inner">
                            <h2> Footer</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div flex="50" flex-xs="100" class="joinus--footer--content">
                <div class="joinus--footer--chips">
                    <div class="joinus--footer--header" style="background:#e45252">
                        <h2>Join ReadNinja</h2>
                    </div>
                    <div class="joinus--footer--body">
                        <ul>
                            <li class="list-points">point 1</li>
                            <li class="list-points">point 2</li>
                            <li class="list-points">point 3</li>
                            <li class="list-points">point 4</li>
                            <li class="list-points">point 5</li>
                        </ul>

                    </div>
                    <div class="joinus--footer--footer">
                        <div class="footer--inner" style="background:#e45252">
                            <h2>Footer</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</md-content>
<md-content class="black--footer--content">
    <div class="container ">
        <div layout="row" class="about--us">
            <div flex="50">
                <div class="blog--logo">
                <md-truncate class="logo--name" flex><img src="/img/logo--white.png" alt="" style="width:140px"></md-truncate>
            
                </div>
            </div>
            <div flex="50">
                <div class="follow--youtube">
                    <button class="youtube--button"><i class="fa fa-youtube-play"></i> Youtube</button>
                </div>
            </div>
        </div>

    </div>
</md-content>
<md-content class="gray--footer--content">
    <div class="container">
        <div layout="row" class="company--footmarks">
            <div flex="50">
                <div class="copyright--text">
                    2017 Copyright Readninja Partnership.
                </div>
            </div>
            <div flex="50">
                <div class="footmarks--tabs">
                    <ul>
                        <li>FAQ</li>
                        <li>Privacy</li>
                        <li>Terms</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</md-content>