<md-toolbar class="md-whiteframe-4dp md--search--toolbar">
    <div class="container">
        <div class="md-toolbar-tools" layout="row">
            <div flex="15">
                <md-truncate class="logo--name" flex><img src="/img/Logomakr_8VnYBN.png" alt="" style="width:140px"></md-truncate>
            </div>
            <div flex="15" class="topics--dropdown">
                <md-button class="topics--button"> Topics <i class="fa fa-angle-down"></i></md-button>
                <!-- <div class="custom--dropdown">
                    <ul>
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>Angularjs</li>
                        <li>Nodejs</li>
                    </ul>
                </div> -->
            </div>
            <!--  <div class="search--bar" flex="40"> -->
            <!--  <input type="text" placeholder="search to learn...">
                <i class="material-icons">search</i> -->
            <!-- </div> -->
            <div class="searchbar--button" flex="40">
                <button aria-label="search item" ng-click="toggleSearch()">
                    <i class="fa fa-search" ng-if="search_toggle" aria-hidden="true"></i>
                    <i class="fa fa-times" ng-if="!search_toggle" aria-hidden="true"></i>
                </button>
            </div>
            <span flex></span>
            <md-button class="md-raised" aria-label="Learn More">
                Login
            </md-button>
            <md-button class="md-raised" aria-label="Learn More">
                Join Us
            </md-button>
        </div>
    </div>
    <div class="container-fluid searchbar--open" ng-if="!search_toggle">
        <div class="search--input--container">
            <input type="text" placeholder="dig me in..." class="search--input">
            <i class="fa fa-search"></i>
        </div>
    </div>
</md-toolbar>