<div layout="row" layout-align="space-around center" class="topbar--cards" layout-wrap>
    <md-card>
        <div layout="row">
            <i class="material-icons --posts" flex="33">note_add</i>
            <div layout="column" flex>
                <p>2314</p>
                <strong>Posts</strong>
            </div>
        </div>
    </md-card>
    <md-card>
        <div layout="row">
            <i class="material-icons --views" flex="33">visibility</i>
            <div layout="column" flex>
                <p>345</p>
                <strong>Views</strong>
            </div>
        </div>
    </md-card>
    <md-card>
        <div layout="row">
            <i class="material-icons --nudges" flex="33">touch_app</i>
            <div layout="column" flex>
                <p>465</p>
                <strong>Nudges</strong>
            </div>
        </div>
    </md-card>
    <md-card>
        <div layout="row">
            <i class="material-icons --duration" flex="33">watch_later</i>
            <div layout="column" flex>
                <p>324 min</p>
                <strong>Duration</strong>
            </div>
        </div>
    </md-card>
</div>
<div class="template--homeauthor--container md-whiteframe-2dp">
    <div class="">

        Home
    </div>
</div>