<!DOCTYPE html>
<html ng-app="hackathon">

<head>

    <meta charset="UTF-8">

    <title> ReadNinja </title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <!--     <link rel="stylesheet" type="text/css" href="/bower_components/angular-bootstrap/ui-bootstrap-csp.css"> -->
    <link rel="stylesheet" type="text/css" href="/bower_components/angular-loading-bar/build/loading-bar.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/prism.css">
    <!-- 
    <link href="/bower_components/angular-carousel/dist/angular-carousel.css" rel="stylesheet" type="text/css" /> -->
    <link rel='stylesheet' href='/bower_components/textAngular/dist/textAngular.css'>

    <link rel="stylesheet" href="css/angular-notify-material.min.css" id="notifyTheme">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">
    <link rel='stylesheet' href='/css/style.css' />

    <base href="/">
</head>

<body ng-cloak>

    <div notifybar style="position:fixed;top:0;right:0;z-index:11111"></div>
    <md-content ng-controller="landingController">
        <ng-include src="'partials/header'"></ng-include>
        <div class="ui-view-main" ng-class="!search_toggle ? 'container--fadeMe' : ''" ui-view></div>
        <ng-include src="'partials/footer'" ng-if="!hideFooter"></ng-include>

        <%include ./scripts%>
    </md-content>
</body>

</html>