<md-content class="banner--dashabord">
    <div class="container" layout="row">
        <div flex class="banner--dashabord--inner">
            <h1 id="headerTagLine"></h1>
            <p></p>
            <md-button class="md-raised md-warn view--topics"> How we work ! </md-button>
        </div>
    </div>
</md-content>

<md-content class="md--topic--list--content grid--list">
    <div class="container" layout="column">
        <div layout="row" layout-xs="column">
            <div flex="33" flex-xs="100" ng-repeat="post in firstRow">
                <md-card class="md-whiteframe-2dp" ui-sref="home.content({keyword:post.alias})">
                    <md-card-header>
                        <md-card-avatar>
                            <img src="{{post.user.avatar}}" class="md-avatar" />
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">Angular</span>
                            <!-- <span class="md-subhead">Material</span> -->
                        </md-card-header-text>
                    </md-card-header>
                    <cl-image public-id="{{post.banner_id}}" class="md-card-image" alt="{{post.heading}}">
                        <cl-transformation width="360" height="200" quality="90" crop="scale" fetchFormat="auto">
                        </cl-transformation>
                    </cl-image>
                    <md-card-content>
                        <p> {{post.heading}}</p>
                    </md-card-content>
                    <md-card-content layout="row" class="bottom--options" layout-align="center center">
                        <md-button aria-label="claps"><i class="material-icons">touch_app</i><span>{{post.claps}}</span></md-button>
                        <md-button aria-label="likes"> <i class="material-icons">thumb_up</i><span> {{post.likes}}</span></md-button>
                    </md-card-content>
                </md-card>
            </div>
        </div>
        <div layout="row" layout-xs="column">
            <div flex="25" flex-xs="50" flex-gt-xs="50" ng-repeat="post in secondRow">
                <md-card class="md-whiteframe-2dp" ui-sref="home.content({keyword:post.alias})">
                    <cl-image public-id="{{post.banner_id}}" class="md-card-image" alt="{{post.heading}}">
                        <cl-transformation width="300" height="200" quality="90" crop="scale" fetchFormat="auto">
                        </cl-transformation>
                    </cl-image>
                    <!-- <md-card-title>
                                                    <md-card-title-text>
                                                        <span class="md-headline">Card header</span>
                                                    </md-card-title-text>
                                                </md-card-title> -->
                    <md-card-content>
                        <p>
                            {{post.heading}}
                        </p>
                    </md-card-content>
                    <md-card-content layout="row" class="bottom--options" layout-align="center center">
                        <md-button aria-label="claps"><i class="material-icons">touch_app</i><span>{{post.claps}}</span></md-button>
                        <md-button aria-label="likes"> <i class="material-icons">thumb_up</i><span> {{post.likes}}</span></md-button>
                    </md-card-content>
                </md-card>
            </div>
        </div>
        <div layout="row" layout-xs="column">
            <div flex="33" flex-xs="100" ng-repeat="post in thirdRow">
                <md-card class="md-whiteframe-2dp" ui-sref="home.content({keyword:post.alias})">
                    <md-card-header>
                        <md-card-avatar>
                            <img src="{{post.user.avatar}}" class="md-avatar" />
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">Angular</span>
                        </md-card-header-text>
                    </md-card-header>
                    <cl-image public-id="{{post.banner_id}}" class="md-card-image" alt="{{post.heading}}">
                        <cl-transformation width="360" height="200" quality="90" crop="scale" fetchFormat="auto">
                        </cl-transformation>
                    </cl-image>
                    <md-card-content>
                        <p>
                            {{post.heading}}
                        </p>
                    </md-card-content>
                    <md-card-content layout="row" class="bottom--options" layout-align="center center">
                        <md-button aria-label="claps"><i class="material-icons">touch_app</i><span>{{post.claps}}</span></md-button>
                        <md-button aria-label="likes"> <i class="material-icons">thumb_up</i><span> {{post.likes}}</span></md-button>
                    </md-card-content>
                </md-card>
            </div>
        </div>

    </div>
</md-content>

<!-- <md-content class="md--link--tags md-whiteframe-6dp" hide-xs hide-sm>
    <div class="container" layout="row">
        <div class="tech--tags html5--tag md-whiteframe-6dp" flex> <img src="img/html5.png" alt="" srcset=""> </div>
        <div class="tech--tags css--tag md-whiteframe-6dp" flex><img src="img/css.png" alt="" srcset=""> </div>
        <div class="tech--tags javascript--tag md-whiteframe-6dp" flex><img src="img/javascript.png" alt="" srcset=""> </div>
        <div class="tech--tags angular--tag md-whiteframe-6dp" flex><img src="img/angular.png" alt="" srcset=""> </div>
        <div class="tech--tags node--tag md-whiteframe-6dp" flex><img src="img/node.png" alt="" srcset=""></div>
    </div>
</md-content> -->

<md-content class="md--topic--list--content">
    <div class="container" layout="column">
        <div class="topic--list--header" layout="row">
            <div flex class="child-demo">
                <md-list>
                    <md-list-item class="md-1-line">
                        <i class="material-icons">trending_up</i>

                        <div class="md-list-item-text">

                            <h5>&nbsp;&nbsp;TRENDING POSTS</h5>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
            <div class="more--list--button" flex>
                <md-button class="md-raised minimal--raised">More Posts</md-button>
            </div>
        </div>
        <div layout="row" layout-xs="column" layout-wrap>
            <md-card class="md-whiteframe-4dp" ng-repeat="post in trendingRow">
                <md-card-header>
                    <md-card-avatar>
                        <img src="{{post.user.avatar}}" class="md-avatar" />
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">Angular</span>
                    </md-card-header-text>
                    <md-card-header-text class="push--me--right" layout="column">
                        <span class="md-title">Nov 8</span>
                        <span class="md-subhead"><md-button aria-label="button-label" class="small--tags easy--tag">  Easy</span> </md-button>
                    </md-card-header-text>
                </md-card-header>
                <cl-image public-id="{{post.banner_id}}" class="md-card-image" alt="{{post.heading}}">
                    <cl-transformation width="362" height="200" quality="90" crop="scale" fetchFormat="auto">
                    </cl-transformation>
                </cl-image>
                <md-card-content>
                    <p>
                        {{post.heading}}
                    </p>
                </md-card-content>
                <md-card-content layout="row" class="bottom--options" layout-align="center center">
                    <md-button aria-label="claps"><i class="material-icons">touch_app</i><span>{{post.claps}}</span></md-button>
                    <md-button aria-label="likes"> <i class="material-icons">thumb_up</i><span> {{post.likes}}</span></md-button>
                </md-card-content>
            </md-card>
        </div>
    </div>
</md-content>
<md-content class="md--topic--list--content even--list--content">
    <div class="container" layout="column">
        <div class="topic--list--header" layout="row">
            <div flex>
                <md-list>
                    <md-list-item class="md-1-line">
                        <i class="material-icons">watch_later</i>
                        <div class="md-list-item-text">
                            <h5> &nbsp; &nbsp;LATEST POSTS</h5>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
            <div class="more--list--button" flex>
                <md-button class="md-raised minimal--raised">More Posts</md-button>
            </div>
        </div>
        <div layout="row" layout-sm="column" layout-xs="column" layout-wrap>
            <md-card class="md-whiteframe-4dp" ng-repeat="post in trendingRow">
                <md-card-header>
                    <md-card-avatar>
                        <img src="{{post.user.avatar}}" class="md-avatar" />
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">Angular</span>
                    </md-card-header-text>
                    <md-card-header-text class="push--me--right" layout="column">
                        <span class="md-title">Nov 8</span>
                        <span class="md-subhead"><md-button aria-label="button-label" class="small--tags easy--tag">  Easy</span> </md-button>
                    </md-card-header-text>
                </md-card-header>
                <cl-image public-id="{{post.banner_id}}" class="md-card-image" alt="{{post.heading}}">
                    <cl-transformation width="362" height="200" quality="90" crop="scale" fetchFormat="auto">
                    </cl-transformation>
                </cl-image>
                <md-card-content>
                    <p>
                        {{post.heading}}
                    </p>
                </md-card-content>
                <md-card-content layout="row" class="bottom--options" layout-align="center center">
                    <md-button aria-label="claps"><i class="material-icons">touch_app</i><span>{{post.claps}}</span></md-button>
                    <md-button aria-label="likes"> <i class="material-icons">thumb_up</i><span> {{post.likes}}</span></md-button>
                </md-card-content>
            </md-card>
        </div>
    </div>
</md-content>
<md-content class="md--topic--list--content">
    <div class="container" layout="column">
        <div class="topic--list--header" layout="row">
            <div flex>
                <md-list>
                    <md-list-item class="md-1-line">
                        <img src="img/angular.png" alt="{{item.who}}" class="md-avatar">

                        <div class="md-list-item-text">
                            <h5>ANGULAR</h5>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
            <div class="more--list--button" flex>
                <md-button class="md-raised minimal--raised">More Angular</md-button>
            </div>
        </div>
        <div layout="row" layout-sm="column" layout-xs="column">
            <div flex>
                <md-card class="md-whiteframe-4dp">
                    <md-card-header>
                        <md-card-avatar>
                            <img src="img/admin.PNG" class="md-avatar" />
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">Angular</span>
                            <span class="md-subhead">Material</span>
                        </md-card-header-text>
                        <md-card-header-text class="push--me--right" layout="column">
                            <span class="md-title">Nov 8</span>
                            <span class="md-subhead"><md-button aria-label="button-label" class="small--tags easy--tag">  Easy</span> </md-button>
                        </md-card-header-text>
                    </md-card-header>
                    <img ng-src="img/4.jpg" class="md-card-image" alt="Washed Out">
                    <!-- <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">Card header</span>
                                </md-card-title-text>
                            </md-card-title> -->
                    <md-card-content>
                        <p>
                            The titles of Washed Out's The titles of Washed Out's The titles of Washed Out's
                        </p>
                    </md-card-content>
                    <md-card-content layout="row" class="bottom--options">
                        <div flex>
                            <md-button aria-label="total_views"> <i class="material-icons">touch_app</i><span>234</span></md-button>
                        </div>
                        <div flex>
                            <md-button aria-label="likes"> <i class="material-icons">thumb_up</i><span> 5</span></md-button>
                        </div>
                        <div flex>
                            <md-button aria-label="comments"> <i class="material-icons">comment</i> <span>234</span></md-button>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
            <div flex>
                <md-card class="md-whiteframe-4dp">
                    <md-card-header>
                        <md-card-avatar>
                            <img src="img/admin.PNG" class="md-avatar" />
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">Angular</span>
                            <span class="md-subhead">Material</span>
                        </md-card-header-text>
                        <md-card-header-text class="push--me--right" layout="column">
                            <span class="md-title">Nov 8</span>
                            <span class="md-subhead"><md-button aria-label="button-label" class="small--tags easy--tag">  Easy</span> </md-button>
                        </md-card-header-text>
                    </md-card-header>
                    <img ng-src="img/6.jpg" class="md-card-image" alt="Washed Out">
                    <!-- <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Card header</span>
                                        </md-card-title-text>
                                    </md-card-title> -->
                    <md-card-content>
                        <p>
                            The titles of Washed Out's The titles of Washed Out's The titles of Washed Out's
                        </p>
                    </md-card-content>
                    <md-card-content layout="row" class="bottom--options">
                        <div flex>
                            <md-button aria-label="total_views"> <i class="material-icons">touch_app</i><span>234</span></md-button>
                        </div>
                        <div flex>
                            <md-button aria-label="likes"> <i class="material-icons">thumb_up</i><span> 5</span></md-button>
                        </div>
                        <div flex>
                            <md-button aria-label="comments"> <i class="material-icons">comment</i> <span>234</span></md-button>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
            <div flex>
                <md-card class="md-whiteframe-4dp">
                    <md-card-header>
                        <md-card-avatar>
                            <img src="img/admin.PNG" class="md-avatar" />
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">Angular</span>
                            <span class="md-subhead">Material</span>
                        </md-card-header-text>
                        <md-card-header-text class="push--me--right" layout="column">
                            <span class="md-title">Nov 8</span>
                            <span class="md-subhead"><md-button aria-label="button-label" class="small--tags easy--tag">  Easy</span> </md-button>
                        </md-card-header-text>
                    </md-card-header>
                    <img ng-src="img/1.jpg" class="md-card-image" alt="Washed Out">
                    <!-- <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Card header</span>
                                        </md-card-title-text>
                                    </md-card-title> -->
                    <md-card-content>
                        <p>
                            The titles of Washed Out's The titles of Washed Out's The titles of Washed Out's
                        </p>
                    </md-card-content>
                    <md-card-content layout="row" class="bottom--options">
                        <div flex>
                            <md-button aria-label="total_views"> <i class="material-icons">touch_app</i><span>234</span></md-button>
                        </div>
                        <div flex>
                            <md-button aria-label="likes"> <i class="material-icons">thumb_up</i><span> 5</span></md-button>
                        </div>
                        <div flex>
                            <md-button aria-label="comments"> <i class="material-icons">comment</i> <span>234</span></md-button>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</md-content>
<md-content class="md--topic--list--content even--list--content">
    <div class="container" layout="column">
        <div class="topic--list--header" layout="row">
            <div flex>
                <md-list>
                    <md-list-item class="md-1-line">
                        <img src="img/angular.png" alt="{{item.who}}" class="md-avatar">

                        <div class="md-list-item-text">
                            <h5>ANGULAR</h5>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
            <div class="more--list--button" flex>
                <md-button class="md-raised minimal--raised">More Angular</md-button>
            </div>
        </div>
        <div layout="row" layout-sm="column" layout-xs="column">
            <div flex>
                <md-card class="md-whiteframe-4dp">
                    <md-card-header>
                        <md-card-avatar>
                            <img src="img/admin.PNG" class="md-avatar" />
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">Angular</span>
                            <span class="md-subhead">Material</span>
                        </md-card-header-text>
                    </md-card-header>
                    <img ng-src="img/admin.PNG" class="md-card-image" alt="Washed Out">
                    <!-- <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">Card header</span>
                                    </md-card-title-text>
                                </md-card-title> -->
                    <md-card-content>
                        <p>
                            The titles of Washed Out's The titles of Washed Out's The titles of Washed Out's
                        </p>
                    </md-card-content>
                    <md-card-content layout="row" class="bottom--options" layout-align="center center">

                        <div>
                            <md-button aria-label="likes"> <i class="material-icons">thumb_up</i><span> 5</span></md-button>
                        </div>
                        <div>
                            <md-button aria-label="comments"> <i class="material-icons">comment</i> <span>234</span></md-button>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
            <div flex>
                <md-card class="md-whiteframe-4dp">
                    <md-card-header>
                        <md-card-avatar>
                            <img src="img/admin.PNG" />
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">Angular</span>
                            <span class="md-subhead">Material</span>
                        </md-card-header-text>
                    </md-card-header>
                    <img ng-src="img/admin.PNG" class="md-card-image" alt="Washed Out">
                    <!-- <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Card header</span>
                                        </md-card-title-text>
                                    </md-card-title> -->
                    <md-card-content>
                        <p>
                            The titles of Washed Out's The titles of Washed Out's The titles of Washed Out's
                        </p>
                    </md-card-content>
                    <md-card-content layout="row" class="bottom--options" layout-align="center center">

                        <div>
                            <md-button aria-label="likes"> <i class="material-icons">thumb_up</i><span> 5</span></md-button>
                        </div>
                        <div>
                            <md-button aria-label="comments"> <i class="material-icons">comment</i> <span>234</span></md-button>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
            <div flex>
                <md-card class="md-whiteframe-4dp">
                    <md-card-header>
                        <md-card-avatar>
                            <img src="img/admin.PNG" />
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">Angular</span>
                            <span class="md-subhead">Material</span>
                        </md-card-header-text>
                    </md-card-header>
                    <img ng-src="img/admin.PNG" class="md-card-image" alt="Washed Out">
                    <!-- <md-card-title>
                                            <md-card-title-text>
                                                <span class="md-headline">Card header</span>
                                            </md-card-title-text>
                                        </md-card-title> -->
                    <md-card-content>
                        <p>
                            The titles of Washed Out's The titles of Washed Out's The titles of Washed Out's
                        </p>
                    </md-card-content>
                    <md-card-content layout="row" class="bottom--options" layout-align="center center">

                        <div>
                            <md-button aria-label="likes"> <i class="material-icons">thumb_up</i><span> 5</span></md-button>
                        </div>
                        <div>
                            <md-button aria-label="comments"> <i class="material-icons">comment</i> <span>234</span></md-button>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</md-content>
<md-content class="md--topic--list--content">
    <div class="container" layout="column">
        <div class="topic--list--header" layout="row">
            <div flex class="child-demo">
                <md-list>
                    <md-list-item class="md-1-line">
                        <img src="img/latest.png" alt="{{item.who}}" class="md-avatar">

                        <div class="md-list-item-text">
                            <h5>HTML5</h5>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
            <div class="more--list--button" flex>
                <md-button class="md-raised minimal--raised">More Posts</md-button>
            </div>
        </div>
        <div layout="row" layout-sm="column" layout-xs="column">
            <div flex>
                <md-card class="md-whiteframe-4dp">
                    <md-card-header>
                        <md-card-avatar>
                            <img src="img/admin.PNG" class="md-avatar" />
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">Angular</span>
                            <span class="md-subhead">Material</span>
                        </md-card-header-text>
                        <md-card-header-text class="push--me--right" layout="column">
                            <span class="md-title">Nov 8</span>
                            <span class="md-subhead"><md-button aria-label="button-label" class="small--tags easy--tag">  Easy</span> </md-button>
                        </md-card-header-text>
                    </md-card-header>
                    <img ng-src="img/4.jpg" class="md-card-image" alt="Washed Out">
                    <!-- <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Card header</span>
                                        </md-card-title-text>
                                    </md-card-title> -->
                    <md-card-content>
                        <p>
                            The titles of Washed Out's The titles of Washed Out's The titles of Washed Out's
                        </p>
                    </md-card-content>
                    <md-card-content layout="row" class="bottom--options">
                        <div flex>
                            <md-button aria-label="total_views"> <i class="material-icons">touch_app</i><span>234</span></md-button>
                        </div>
                        <div flex>
                            <md-button aria-label="likes"> <i class="material-icons">thumb_up</i><span> 5</span></md-button>
                        </div>
                        <div flex>
                            <md-button aria-label="comments"> <i class="material-icons">comment</i> <span>234</span></md-button>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
            <div flex>
                <md-card class="md-whiteframe-4dp">
                    <md-card-header>
                        <md-card-avatar>
                            <img src="img/admin.PNG" class="md-avatar" />
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">Angular</span>
                            <span class="md-subhead">Material</span>
                        </md-card-header-text>
                        <md-card-header-text class="push--me--right" layout="column">
                            <span class="md-title">Nov 8</span>
                            <span class="md-subhead"><md-button aria-label="button-label" class="small--tags easy--tag">  Easy</span> </md-button>
                        </md-card-header-text>
                    </md-card-header>
                    <img ng-src="img/1.jpg" class="md-card-image" alt="Washed Out">
                    <!-- <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">Card header</span>
                                                </md-card-title-text>
                                            </md-card-title> -->
                    <md-card-content>
                        <p>
                            The titles of Washed Out's The titles of Washed Out's The titles of Washed Out's
                        </p>
                    </md-card-content>
                    <md-card-content layout="row" class="bottom--options">
                        <div flex>
                            <md-button aria-label="total_views"> <i class="material-icons">touch_app</i><span>234</span></md-button>
                        </div>
                        <div flex>
                            <md-button aria-label="likes"> <i class="material-icons">thumb_up</i><span> 5</span></md-button>
                        </div>
                        <div flex>
                            <md-button aria-label="comments"> <i class="material-icons">comment</i> <span>234</span></md-button>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
            <div flex>
                <md-card class="md-whiteframe-4dp">
                    <md-card-header>
                        <md-card-avatar>
                            <img src="img/admin.PNG" class="md-avatar" />
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">Angular</span>
                            <span class="md-subhead">Material</span>
                        </md-card-header-text>
                        <md-card-header-text class="push--me--right" layout="column">
                            <span class="md-title">Nov 8</span>
                            <span class="md-subhead"><md-button aria-label="button-label" class="small--tags easy--tag">  Easy</span> </md-button>
                        </md-card-header-text>
                    </md-card-header>
                    <img ng-src="img/6.jpg" class="md-card-image" alt="Washed Out">
                    <!-- <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">Card header</span>
                                                </md-card-title-text>
                                            </md-card-title> -->
                    <md-card-content>
                        <p>
                            The titles of Washed Out's The titles of Washed Out's The titles of Washed Out's
                        </p>
                    </md-card-content>
                    <md-card-content layout="row" class="bottom--options" layout="end center">

                        <div flex>
                            <md-button aria-label="likes"> <i class="material-icons">thumb_up</i><span> 5</span></md-button>
                        </div>
                        <div flex>
                            <md-button aria-label="comments"> <i class="material-icons">comment</i> <span>234</span></md-button>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</md-content>