<md-content class="banner--dashabord">
    <div class="container" layout="row">
        <div flex class="banner--dashabord--inner">
            <h1 id="headerTagLine"></h1>
            <p></p>
            <md-button class="md-raised md-warn view--topics" ng-click="showOnceDash()"> How we work ! </md-button>
        </div>
    </div>
</md-content>

<md-content class="md--topic--list--content grid--list">
    <div class="container" layout="column">
        <div layout="row" layout-xs="column">
            <div flex="33" flex-xs="100" ng-repeat="post in firstRow">

                <md-card class="md-whiteframe-2dp" ui-sref="home.content({keyword:post.alias})" ng-if="post.banner_id">
                    <md-card-header layout="row" layout-align="center center">

                        <md-card-avatar>
                            <img ng-src="{{post.user.avatar}}" class="md-avatar" />
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">{{post.user.username}}</span>
                            <span class="md-subhead"> <i class="far fa-clock"></i> <em>{{post.readtime | readTimeFilter}}</em></span>
                        </md-card-header-text> 
                        <md-card-header-text class="push--me--right" layout="column">
                            <span class="md-title">{{post.dateadded | date : "dd-MMM-yy"}}</span>
                            <span class="md-subhead" ng-if="post.difficulty">
                                <span aria-label="button-label" class="small--tags easy--tag">{{post.difficulty}}</span>
                            </span>
                        </md-card-header-text>


                    </md-card-header>
                    <cl-image public-id="{{post.banner_id}}" class="md-card-image" alt="{{post.heading}}">
                        <cl-transformation width="360" height="200" quality="90" crop="scale" fetch_format="auto">
                        </cl-transformation>
                    </cl-image>
                    <md-card-content>
                        <p> {{post.heading}}</p>

                    </md-card-content>
                    <md-card-content layout="row" class="bottom--options" layout-align="center center">
                        <label aria-label="claps"><i class="material-icons">touch_app</i><span>{{post.claps}}</span></label>
                       <label aria-label="views"> <i class="fa fa-eye" aria-hidden="true"></i> {{post.views}}</span></label>
                    </md-card-content>
                </md-card>
                <md-card class="md-whiteframe-2dp" ui-sref="home.content({keyword:post.alias})" ng-if="!post.banner_id">
                    <md-card-header layout="row" layout-align="center center">

                        <md-card-avatar>
                            <img ng-src="{{post.user.avatar}}" class="md-avatar" />
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">{{post.user.username}}</span>
                            <span class="md-subhead" ng-if="post.readtime"> <i class="far fa-clock"></i> <em>{{post.readtime | readTimeFilter}}</em></span>
                        </md-card-header-text>
                        <md-card-header-text class="push--me--right" layout="column">
                            <span class="md-title">{{post.dateadded | date : "dd-MMM-yy"}}</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content style="background:whitesmoke">
                        <h1 class="md-display-1"> {{post.heading}}</h1>

                    </md-card-content>
                    <md-card-content layout="row" class="bottom--options" layout-align="center center">
                        <label aria-label="claps"><i class="material-icons">touch_app</i><span>{{post.claps}}</span></label>
                        <label aria-label="likes"> <i class="fa fa-eye" aria-hidden="true"></i> {{post.views}}</span></label>
                    </md-card-content>
                </md-card>
            </div>
        </div>
        <div layout="row" layout-xs="column">
            <div flex="25" flex-xs="100" ng-repeat="post in secondRow">
                <md-card class="md-whiteframe-2dp" ui-sref="home.content({keyword:post.alias})">
                    <cl-image public-id="{{post.banner_id}}" class="md-card-image" alt="{{post.heading}}">
                        <cl-transformation width="300" height="200" quality="90" crop="scale" fetch_format="auto">
                        </cl-transformation>
                    </cl-image>
                    <!-- <md-card-title>
                                                    <md-card-title-text>
                                                        <span class="md-headline">Card header</span>
                                                    </md-card-title-text>
                                                </md-card-title> -->
                    <md-card-content>
                        <p>
                            {{post.heading}}
                        </p>
                    </md-card-content>
                    <md-card-content layout="row" class="bottom--options" layout-align="center center">
                        <label aria-label="claps"><i class="material-icons">touch_app</i><span>{{post.claps}}</span></label>
                        <label aria-label="likes"> <i class="material-icons">thumb_up</i><span> {{post.likes}}</span></label>
                    </md-card-content>
                </md-card>
            </div>
        </div>
        <div layout="row" layout-xs="column">
            <div flex="33" flex-xs="100" ng-repeat="post in thirdRow">
                <md-card class="md-whiteframe-2dp" ui-sref="home.content({keyword:post.alias})" ng-if="post.banner_id">
                    <md-card-header layout="row" layout-align="center center">

                        <md-card-avatar>
                            <img ng-src="{{post.user.avatar}}" class="md-avatar" />
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">{{post.user.username}}</span>
                            <span class="md-subhead" ng-if="post.readtime"> <i class="far fa-clock"></i> <em>{{post.readtime | readTimeFilter}}</em></span>
                        </md-card-header-text>
                        <md-card-header-text class="push--me--right" layout="column">
                            <span class="md-title">{{post.dateadded | date : "dd-MMM-yy"}}</span>
                            <span class="md-subhead" ng-if="post.difficulty">
                                        <span aria-label="button-label" class="small--tags easy--tag">{{post.difficulty}}</span>
                            </span>
                        </md-card-header-text>


                    </md-card-header>
                    <cl-image public-id="{{post.banner_id}}" class="md-card-image" alt="{{post.heading}}">
                        <cl-transformation width="360" height="200" quality="90" crop="scale" fetch_format="auto">
                        </cl-transformation>
                    </cl-image>
                    <md-card-content>
                        <p> {{post.heading}}</p>

                    </md-card-content>
                    <md-card-content layout="row" class="bottom--options" layout-align="center center">
                        <label aria-label="claps"><i class="material-icons">touch_app</i><span>{{post.claps}}</span></label>
                        <label aria-label="likes"> <i class="material-icons">thumb_up</i><span> {{post.likes}}</span></label>
                    </md-card-content>
                </md-card>
                <md-card class="md-whiteframe-2dp" ui-sref="home.content({keyword:post.alias})" ng-if="!post.banner_id">
                    <md-card-header layout="row" layout-align="center center">

                        <md-card-avatar>
                            <img ng-src="{{post.user.avatar}}" class="md-avatar" />
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">{{post.user.username}}</span>
                            <span class="md-subhead"> <i class="far fa-clock"></i> <em>{{post.readtime | readTimeFilter}}</em></span>
                        </md-card-header-text>
                        <md-card-header-text class="push--me--right" layout="column">
                            <span class="md-title">{{post.dateadded | date : "dd-MMM-yy"}}</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content style="background:whitesmoke">
                        <h1 class="md-display-1"> {{post.heading}}</h1>

                    </md-card-content>
                    <md-card-content layout="row" class="bottom--options" layout-align="center center">
                        <label aria-label="claps"><i class="material-icons">touch_app</i><span>{{post.claps}}</span></label>
                        <label aria-label="likes"> <i class="material-icons">thumb_up</i><span> {{post.likes}}</span></label>
                    </md-card-content>
                </md-card>
            </div>
        </div>

    </div>
</md-content>

<!-- <md-content class="md--link--tags md-whiteframe-6dp" hide-xs hide-sm>
    <div class="container" layout="row">
        <div class="tech--tags html5--tag md-whiteframe-6dp" flex> <img src="img/html5.png" alt="" srcset=""> </div>
        <div class="tech--tags css--tag md-whiteframe-6dp" flex><img src="img/css.png" alt="" srcset=""> </div>
        <div class="tech--tags javascript--tag md-whiteframe-6dp" flex><img src="img/javascript.png" alt="" srcset=""> </div>
        <div class="tech--tags angular--tag md-whiteframe-6dp" flex><img src="img/angular.png" alt="" srcset=""> </div>
        <div class="tech--tags node--tag md-whiteframe-6dp" flex><img src="img/node.png" alt="" srcset=""></div>
    </div>
</md-content> -->

<md-content class="md--topic--list--content">
    <div class="container" layout="column">
        <div class="topic--list--header" layout="row">
            <div flex class="child-demo">
                <md-list>
                    <md-list-item class="md-1-line">
                        <i class="material-icons">trending_up</i>

                        <div class="md-list-item-text">

                            <h5>&nbsp;&nbsp;TRENDING POSTS</h5>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
            <div class="more--list--button" flex>
                <md-button class="md-raised minimal--raised">More Posts</md-button>
            </div>
        </div>
        <div layout="row" layout-xs="column" layout-wrap>
           <md-card class="md-whiteframe-2dp" ui-sref="home.content({keyword:post.alias})" ng-repeat="post in trendingRow" ng-if="post.banner_id">
                    <md-card-header layout="row" layout-align="center center">

                        <md-card-avatar>
                            <img ng-src="{{post.user.avatar}}" class="md-avatar" />
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">{{post.user.username}}</span>
                            <span class="md-subhead"> <i class="far fa-clock"></i> <em>{{post.readtime | readTimeFilter}}</em></span>
                        </md-card-header-text> 
                        <md-card-header-text class="push--me--right" layout="column">
                            <span class="md-title">{{post.dateadded | date : "dd-MMM-yy"}}</span>
                            <span class="md-subhead" ng-if="post.difficulty">
                                <span aria-label="button-label" class="small--tags easy--tag">{{post.difficulty}}</span>
                            </span>
                        </md-card-header-text>


                    </md-card-header>
                    <cl-image public-id="{{post.banner_id}}" class="md-card-image" alt="{{post.heading}}">
                        <cl-transformation width="360" height="200" quality="90" crop="scale" fetch_format="auto">
                        </cl-transformation>
                    </cl-image>

                    <md-card-content ng-if="post.banner_id">
                        <p> {{post.heading}}</p>

                    </md-card-content>
                    <md-card-content ng-if="!post.banner_id">
                        <h1> {{post.heading}}</h1>

                    </md-card-content>

                    <md-card-content layout="row" class="bottom--options" layout-align="center center">
                        <label aria-label="claps"><i class="material-icons">touch_app</i><span>{{post.claps}}</span></label>
                        <label aria-label="likes"> <i class="material-icons">thumb_up</i><span> {{post.likes}}</span></label>
                    </md-card-content>
                </md-card>
        </div>
    </div>
</md-content>
<md-content class="md--topic--list--content even--list--content">
    <div class="container" layout="column">
        <div class="topic--list--header" layout="row">
            <div flex>
                <md-list>
                    <md-list-item class="md-1-line">
                        <i class="material-icons">watch_later</i>
                        <div class="md-list-item-text">
                            <h5> &nbsp; &nbsp;LATEST POSTS</h5>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
            <div class="more--list--button" flex>
                <md-button class="md-raised minimal--raised">More Posts</md-button>
            </div>
        </div>
        <div layout="row" layout-sm="column" layout-xs="column" layout-wrap>
            <md-card class="md-whiteframe-2dp" ng-repeat="post in trendingRow">
                <md-card-header>
                    <md-card-avatar>
                        <img src="{{post.user.avatar}}" class="md-avatar" />
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">{{post.user.username}}</span>
                    </md-card-header-text>
                    <md-card-header-text class="push--me--right" layout="column">
                        <span class="md-title">Nov 8</span>
                        <span class="md-subhead"><md-button aria-label="button-label" class="small--tags easy--tag">  Easy</span> </md-button>
                    </md-card-header-text>
                </md-card-header>
                <cl-image public-id="{{post.banner_id}}" class="md-card-image" alt="{{post.heading}}">
                    <cl-transformation width="362" height="200" quality="90" crop="scale" fetch_format="auto">
                    </cl-transformation>
                </cl-image>
                <md-card-content>
                    <p>
                        {{post.heading}}
                    </p>
                </md-card-content>
                <md-card-content layout="row" class="bottom--options" layout-align="center center">
                    <md-button aria-label="claps"><i class="material-icons">touch_app</i><span>{{post.claps}}</span></md-button>
                    <md-button aria-label="likes"> <i class="material-icons">thumb_up</i><span> {{post.likes}}</span></md-button>
                </md-card-content>
            </md-card>
        </div>
    </div>
</md-content>
<md-content class="md--topic--list--content">
    <div class="container" layout="column">
        <div class="topic--list--header" layout="row">
            <div flex class="child-demo">
                <md-list>
                    <md-list-item class="md-1-line">
                        <img src="img/latest.png" alt="{{item.who}}" class="md-avatar">

                        <div class="md-list-item-text">
                            <h5>HTML5</h5>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
            <div class="more--list--button" flex>
                <md-button class="md-raised minimal--raised">More Posts</md-button>
            </div>
        </div>
        <div layout="row" layout-sm="column" layout-xs="column" layout-wrap>
            <md-card class="md-whiteframe-2dp" ng-repeat="post in trendingRow">
                <md-card-header>
                    <md-card-avatar>
                        <img src="{{post.user.avatar}}" class="md-avatar" />
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">{{post.user.username}}</span>
                    </md-card-header-text>
                    <md-card-header-text class="push--me--right" layout="column">
                        <span class="md-title">Nov 8</span>
                        <span class="md-subhead"><md-button aria-label="button-label" class="small--tags easy--tag">  Easy</span> </md-button>
                    </md-card-header-text>
                </md-card-header>
                <cl-image public-id="{{post.banner_id}}" class="md-card-image" alt="{{post.heading}}">
                    <cl-transformation width="362" height="200" quality="90" crop="scale" fetch_format="auto">
                    </cl-transformation>
                </cl-image>
                <md-card-content>
                    <p>
                        {{post.heading}}
                    </p>
                </md-card-content>
                <md-card-content layout="row" class="bottom--options" layout-align="center center">
                    <md-button aria-label="claps"><i class="material-icons">touch_app</i><span>{{post.claps}}</span></md-button>
                    <md-button aria-label="likes"> <i class="material-icons">thumb_up</i><span> {{post.likes}}</span></md-button>
                </md-card-content>
            </md-card>
        </div>
    </div>
</md-content>